<!-- src/ulde/core/overlay/ulde-overlay.html -->

<p>UldeDevtools Works!</p>
<div class="ulde-devtools-root" [class.hidden]="!$visible()" [style.opacity]="$opacity()">

  <!-- Header -->
  <header class="header">
    <h3>ULDE DevTools Panel</h3>
    <div class="controls">
      <button (click)="toggleDevTools()">Toggle</button>
      <button (click)="pinDevTools()">
        {{ $pinned() ? 'Unpin' : 'Pin' }}
      </button>
      <input type="range" min="0.2" max="1" step="0.1" [value]="$opacity()"
        (input)="setDevToolsOpacity($any($event.target).value)" />
    </div>
  </header>


  <div class="tabs">
    <button class="tab" [class.active]="$activeTab() === 'diagnostics'"
      (click)="selectTab('diagnostics')">Diagnostics</button>
    <button class="tab" [class.active]="$activeTab() === 'timeline'" (click)="selectTab('timeline')">Timeline</button>
    <button class="tab" [class.active]="$activeTab() === 'profiler'" (click)="selectTab('profiler')">Profiler</button>
    <button class="tab" [class.active]="$activeTab() === 'heatmap'" (click)="selectTab('heatmap')">Heatmap</button>
    <button class="tab" [class.active]="$activeTab() === 'inspector'"
      (click)="selectTab('inspector')">Inspector</button>
    <button class="tab" [class.active]="$activeTab() === 'frames'" (click)="selectTab('frames')">Frames</button>
    <!-- <button class="tab" [class.active]="$activeTab() === 'ast'" (click)="selectTab('ast')">Ast</button>
    <button class="tab" [class.active]="$activeTab() === 'layout'" (click)="selectTab('layout')">Layout</button> -->
    <button class="tab" [class.active]="$activeTab() === 'plugins'" (click)="selectTab('plugins')">Plugins</button>
  </div>

  <div class="body">

    @if($activeTab() === 'diagnostics'){
    <div class="diagnostics-tab">
      <ulde-devtools-diagnostics-panel [$diagnostics]="$diagnostics()"></ulde-devtools-diagnostics-panel>
    </div>

    }

    @if($activeTab() === 'timeline'){

    <div class="timeline-tab">
      <ulde-devtools-frame-timeline-panel [$frame]="$currentFrame()"
        [$thresholds]="thresholds"></ulde-devtools-frame-timeline-panel>
    </div>
    }

    @if($activeTab() === 'profiler'){


    }

    @if($activeTab() === 'heatmap'){

    <div class="heatmap-tab">
      <div class="header">
        <span>Plugin Heatmap</span>
      </div>

      @for (t of $heatMap(); track ($index)) {
      <div class="row">
        <!-- <div class="phase">
          <span>[{{ t.lifecyclePhase }}] </span>
        </div>
        <div class="kind">
          <span>[{{ t.pluginKind }}] </span>
        </div> -->
        <div class="plugin">
          <span>[{{ t.pluginName }}] </span>
        </div>
        <div class="hook">
          <span>[{{ t.hookName }}] </span>
        </div>
        <div class="intensity-container">
          <div class="intensity" [style.width.%]="t.intensity * 100" [style.background]="'#d53c3c'"
            [title]="t.lifecyclePhase + '-' + t.pluginKind + '-' + t.pluginName + '-' + t.hookName ">
          </div>
          <div class="ratio"><span>{{t.intensity.toFixed(4)}}</span></div>
        </div>
      </div>
      }
    </div>

    }

    @if($activeTab() === 'inspector'){
    <ulde-devtools-runtime-inspector-panel [$rendererState]="$rendererState()"
      [$frame]="$currentFrame()"></ulde-devtools-runtime-inspector-panel>
    }

    @if($activeTab() === 'frames'){

    <!-- Frame History -->
    <div class="frame-history-container">
      <section class="frame-history">
        <h4>Frame History</h4>

        @for (f of $frameHistory(); track f.id) {
        <div class="frame-row" (click)="selectFrame(f)">
          <span class="frame-id">Frame Id: {{ f.id }}</span>
          <span class="timestamp">Timestamp: {{ f.timestamp | date:'full' }}</span>
          <span class="total">Total Duration:
            {{
            f.lifecyclePhaseTimings.reduce((a, p) => a + p.duration, 0)
            | number:'1.0-1'
            }}ms
          </span>
          <span class="json-view">
            @for(t of f.lifecyclePhaseTimings; track t.lifecyclePhase; let no = $index){
            <span>#{{no}}: </span>
            <span>{{t| json }}</span><br>
            }
          </span>
        </div>
        }

      </section>
    </div>

    }

    @if($activeTab() === 'plugins'){


    }
  </div>

</div>






<p> TO BE CLOSED</p>
<!-- Lifecycle Phases Timeline -->
<!-- <section class="phase-timeline">
  <h4>Phases Timeline</h4>
  @for (f of $timeline(); track f.frameId) {
  <div>
    <span class="frame-id">frame-id: {{ f.frameId }}</span>
    <span class="total-duration">{{ f.totalDuration | number:'1.0-1' }}ms</span>
    @for(p of f.phases; track p.lifecyclePhase){
    <div class="phase" [class.warn]="p.duration > thresholds.phaseWarn"
      [class.error]="p.duration > thresholds.phaseError">
      <span class="name">[{{ p.lifecyclePhase }}]: &nbsp; &nbsp; </span>
      <span class="duration">{{ p.duration | number:'1.0-1' }} ms</span>
    </div>
    }
  </div>
  }
</section> -->

<!-- Plugin Timings -->
<!-- <section class="plugin-timings">
    <h4>Plugin Timings</h4>

    @for (t of $filteredPluginTimings(); track t.pluginName) {
    <div class="plugin-row">
      <span class="plugin">{{ t.pluginName }}</span>
      <span class="kind">{{ t.pluginKind }}</span>
      <span class="hook">{{ t.hookName }}</span>
      <span class="phase">{{ t.lifecyclePhase }}</span>
      <span class="duration">{{ t.duration | number:'1.0-1' }}ms</span>
    </div>
    }
  </section> -->

<!-- Sparkline -->
<section class="sparkline">
  <h4>Sparline</h4>
  <svg width="100%" height="40">
    <polyline class="sparkline-line" [attr.points]="$sparklinePoints()"></polyline>
  </svg>
</section>

<!-- Diagnostics -->
