<!-- src/ulde/core/devtools/panels/frame-timeline/ulde-frame-timeline-panel.html -->

<!-- <p>ulde-frame-timeline-panel works!</p> -->

<div class="ulde-frame-timeline-panel-root">

  <div class="header">
    <p>
      <span><strong>Frame Execution Timeline Panel</strong></span><br />
      <span>
        Frame id: {{ $frame()===null? `None` : $frame()?.id}}</span><br />
      <span>
        Timestamp: {{ $frame()?.timestamp | date:'full'}}
      </span>
    </p>
  </div>

  @if($frame()) {
  <div>
    <p><span>total duration: {{$total().toFixed(3)}} ms</span></p>
    <div class="timeline">
      @for (p of $phases(); track p.name) {
      <div class="segment" [style.width.%]="p.ratio * 100" [style.background]="p.color"
        [title]="p.name + ': ' + p.ms + ' ms'"></div>
      }
    </div>
  </div>

  <div class="legend">
    @for (p of $phases(); track p.name) {
    <div class="legend-item">
      <span class="color" [style.background]="p.color"></span>
      <span class="name">{{ p.name }}</span>
      <span class="ms">{{ p.ms.toFixed(3) }} ms</span>
    </div>
    }
    <span></span>
  </div>
  }

</div>
