//src/ulde/viewer/panels/frame-timeline/ulde-frame-timeline-panel.scss

.ulde-frame-timeline-panel-root {
  // display: flex;
  background: var(--ulde-bg);
  border: 1px solid var(--ulde-border);
  border-radius: 6px;
  padding: 1rem;
  width: fit-content;
  margin-top: 1rem;
  font-size: 0.9rem;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.timeline {
  height: 6px;
  width: 100%;
  display: flex;
  overflow: hidden;
  border-radius: 3px;
  margin-bottom: 0.75rem;
}

.segment {
  height: 100%;
  transition: width 0.1s linear;
}

.legend {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.color {
  width: 12px;
  height: 12px;
  border-radius: 3px;
}

