// src/ulde/viewer/ulde-viewer.scss

/* Import ulde-viwer styles */
// @use './styles/ulde-viewer-base.scss';
// @use './styles/ulde-viewer-components.scss';
// @use './styles/ulde-viewer-diagnostics.scss';
// @use './styles/ulde-viewer-theme-light.scss';
// @use './styles/ulde-viewer-theme-dark.scss';

.ulde-pane-container {
  display: flex;
  flex-direction: column;
}

.ulde-markdown-viewer-pane {
  display: flex;

  .viewer-host {
    padding-left: 15px;
    min-height: 400px;
  }

}

.ulde-graph-viewer-pane {
  display: flex;
  align-content: center;
  visibility: hidden;
  cursor:pointer;

  &.visible {
    width: 600px;
    height: 400px;
    visibility: visible;
  }

}

.udel-devtools-viewer-pane {
  display: flex;
}
