// styles/theme/_dark.scss
/* ---------------------------------------------------------
   🌙 Dark Theme
--------------------------------------------------------- */

@use '@angular/material' as mat;

/* Angular Material Dark Theme */
$dark-primary-text: white;

$dark-theme: mat.m2-define-dark-theme((color: (primary: mat.m2-define-palette(mat.$m2-blue-palette, 700),
        accent: mat.m2-define-palette(mat.$m2-pink-palette, A200))));

[data-theme="dark"] {
  --bg-color: #1e1e1e;
  --text-color: #e0e0e0;

  --link-color: lightblue;
  --link-hover-color: cyan;

  --table-bg-even: #1e1e1e;
  --table-bg-odd: #111;
  --table-border: #555;
  --table-header-bg: #333;

  /*Theme toggle*/
  --toggle-track-bg: #3a3a3a;
  --toggle-thumb-bg: #1e1e1e;

  /* Devtools alias layer */
  --ap-bg: var(--bg-color);
  --ap-fg: var(--text-color);
  --ap-border: var(--table-border);
  --ap-header-bg: var(--table-header-bg);
  --ap-hover: rgba(255, 255, 255, 0.05);

  /* Angular Material */
  @include mat.all-component-themes($dark-theme);
}

/* Icon color */
[data-theme="dark"] .mat-icon {
  color: lightblue;
}
